/Platform/.metadata
/Platform/.recommenders
/Platform/RemoteSystemsTempFiles
/Platform/mo-1-common/bin
/Platform/mo-2-core/bin
/Platform/mo-3-logic/bin
/Platform/mo-4-web/bin
/Platform/mo-5-cloud/bin
/Platform/mo-6-content/bin
/Platform/mo-6-eai-content/bin
/Platform/mo-6-zmf-content/bin
/Platform/mo-7-utility/bin
/Platform/mo-lib-lzma/bin
/Platform/mp-cloud.develop/webroot/WEB-INF/classes
/Platform/mp-cloud.develop/webroot/WEB-INF/lib
/Platform/mp-cloud.editor/webroot/WEB-INF/classes
/Platform/mp-cloud.editor/webroot/WEB-INF/lib
/Platform/mp-cloud.manage/webroot/WEB-INF/classes
/Platform/mp-cloud.manage/webroot/WEB-INF/lib
/Platform/mp-cloud.design/webroot/WEB-INF/classes
/Platform/mp-cloud.design/webroot/WEB-INF/lib
/Platform/mp-cloud.content/webroot/WEB-INF/classes
/Platform/mp-cloud.content/webroot/WEB-INF/lib
/Platform/mp-cloud.service/webroot/WEB-INF/classes
/Platform/mp-cloud.service/webroot/WEB-INF/lib
/Platform/mp-cloud.storage/webroot/WEB-INF/classes
/Platform/mp-cloud.storage/webroot/WEB-INF/lib
/Platform/mp-cloud.logger/webroot/WEB-INF/classes
/Platform/mp-cloud.logger/webroot/WEB-INF/lib
/Platform/mt-server/cloud.develop/logs
/Platform/mt-server/cloud.editor/logs
/Platform/mt-server/cloud.manage/logs
/Platform/mt-server/cloud.design/logs
/Platform/mt-server/cloud.content/logs
/Platform/mt-server/cloud.storage/logs
/Platform/mt-server/cloud.logger/logs
/Platform/mt-database
/Platform/mt-storage
/Platform/mt-temp
/Resource
